[{kai, [%{logfile, "kai.log"},
    %{hostname, "localhost"},
    {api_port, 11011},
    {api_max_processes, 30},
    {memcache_port, 11211},
    {memcache_max_processes, 10},
    {max_connections, 32},
    {n, 3},
    {r, 2},
    {w, 2},
    {number_of_buckets, 1024},
    {number_of_virtual_nodes, 128}]}].
